{% extends 'myapp/base.html' %}
{% load static %}

{% block myheader %}
  <link rel="stylesheet" href="{% static 'css/myCss.css' %}">
  <h1><center> Welcome to CoC Gaming Shop </center></h1>
  
  {% if user.profile.usertype == 'VVIP' %}
      <center> 15% Discount for VVIP member </center>
  {% elif user.profile.usertype == 'VIP' %}
      <center> 10% Discount for VIP member </center>
  {% elif user.profile.usertype == 'MEMBER' %}
      <center> 5% Discount for member </center>
  {% elif user.profile.usertype == 'ADMIN' %}
      <center> Unlimited % Discount for VIP member </center>
  {% else %}
      <center> No Discount for non member, contact our staff to get one! </center>
  {% endif %}

{% endblock myheader %}


{% block content %}
<center>
  <h1>CoC Gaming Shop</h1>
  {% for data in pd %}
    <h2>{{ data.title }}</h2>
    <p>
      {{ data.description }}<br />
      Price: {{ data.price }}<br />
      Stock: {{ data.quantity }}<br />
    </p>
    <hr />
  {% endfor %}
</center>
{% endblock content %}
